table {
  width: 50%;
  border-collapse: collapse;
  margin: 20px auto;
}
th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th {
  background-color: #b20712;
  color: rgb(224, 216, 211);
}
